employee
{

    width: 500px;
    height:500px;
    float: left;
    padding: 10px;
    text-align: justify;
    color: blue;
    background-image: url("water.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
firstname,lastname,email
{
    font-size:25px;
    display: block;
    color: black;
    margin-left:50px;
    
}